body, html, #map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

/*
*
basic bootstrap overrides
*
*/
#header{
	margin-top: 3%;
	margin-left: 5%;
}
#privacyUl li a{
	text-decoration: none;
}
.privacy-container{
	background-color: rgb(235, 240, 240);
	position: absolute;
	margin-left: 5%;
	margin-top: 2%;
	border: 1px solid rgb(252, 249, 250);
	width: 45%;
}	
.btn, button{
	cursor: pointer;
	border-radius: 0px;
}
.btn-light,
.btn-light:focus{
	border-color: #76B900;
	background-color: #fff;
	border-radius: 4px;
}
.btn-light:hover,
.btn-light:active{
	border-color: #76B900;
	background-color: #76B900;
	color: white;
	transition: 0.5s;
}
.btn-light:not([disabled]):not(.disabled).active, .btn-light:not([disabled]):not(.disabled):active, .show>.btn-light.dropdown-toggle{
	border-color: #76B900;
	background-color: #d8e2c5;
	color: #517f00;
}
.input-group .form-control{
	border-radius: 0px;
	border-color: #76B900;
	border-right: none;
}
.form-control{
	border-radius: 0px;
	border-color: #76B900;
}
.form-control:focus{
	box-shadow: none;
}
#privacy{
	font-size: 8px;
	color: black;
}
#privacy input{
	vertical-align: middle;
	font-size: 8px;
}
#privacylink{
	color: #000;
	font-style: italic;
} 
/*.edit-dropdown{
	border-left: none;
	border-right: none;
}*/
.custom-select{
	border-radius: 0px;
	border-color: #76B900;
	padding-bottom: 10px;
}
.custom-select:focus{
	border-radius: 0px;
	border-color: #76B900;
}

/*tooltip*/
.tooltip-inner{
	color: #525252;
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 0.95);
}
.tooltip.bs-tooltip-left .arrow::before{
	border-left-color: rgba(255, 255, 255, 0.95);
}

.modal{
	z-index: 3000;
}

#map-container {
	position: fixed;
	top: 52px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/** Navigation bar **/
.navbar-container {
	position: absolute;
	z-index: 2000;
	width: 100%;
	top: 0px;
}

.navbar {
	color: #000;
	padding: 3px 10px;
	background: #fff;
}
.navbar-nav{
	margin-right: 10px;
}

.top-nav {
	box-shadow: 0px -1px #76B900 inset;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
	.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,
	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, nav-link:focus
	{
	color: #000;
	box-shadow: 0px -3px #76B900 inset;
}

.navbar-light .navbar-toggler{
	border: none;
	cursor: pointer;
}

.navbar-light .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");	
}
#navbarprivacy{
	border-bottom: 1px solid #76B900;
}

/** right butto menu **/
.controll-container {
	display: block;
	position: absolute;
	z-index: 900;
	top: 110px;
	right: 0px;
}

.side-menu-button {
	background: rgba(10, 10, 10, 0.6);
}

.side-menu-button>a {
	height: 100%;
	width: 100%;
	display: block;
}

.side-menu-button:hover, .button-active {
	background: rgba(118, 185, 0, 1);
}

.icon {
	width: 20px;
	margin: 10px 10px;
}

/** side-menus **/
.side-menu {
	position: fixed;
	z-index: 1000; 
	height: 100%;
	background: #fff;
	overflow: auto;
	top: 52px;
	bottom: 0px;
	border-left: 1px solid #76B900;
}
.close-menu{
	float: right;
	cursor: pointer;
}
.close-icon{
	width: 20px;
}

.right-side-menu-closed {
	display: none;
	width: 300px;
	right: 0px;
}

.right-side-menu-open {
	display: block;
	width: 300px;
	right: 0px;
}

.left-side-menu-closed {
	display: none;
	width: 300px;
	left: 0px;
}

.left-side-menu-open {
	display: block;
	width: 300px;
	left: 0px;
}

.side-menu-heading {
	position: relative;
	padding: 10px 20px;
}

.side-menu-content {
	border-bottom: 1px solid #DDD;
	padding: 10px 20px;
}

.side-menu-content > a {
	color: rgba(118, 185, 0, 1);
}

.side-menu-label {
	padding: 10px 20px;
}

/** search-controll **/
.search-controll-results-list {
	margin: 0;
	padding: 0;
	border: 0;
}

.search-controll-results-list li:first-child {
	border-top: 1px solid #EEE;
}

.search-controll-results-list li {
	border-bottom: 1px solid #EEE;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 12px;
	list-style: none;
}
/*
.left-menu-content { //
	display: none;
	height: 100%;
	background: #fff;
	overflow: auto;
}*/

/** OpenLayers **/
/* OL attribution */
.ol-attribution.ol-uncollapsible {
	bottom: 0px;
	border-radius: 0px;
	height: auto;
	line-height: 0.3em;
}

/* OL scaleline */
.ol-scale-line {
	border-radius: 0px;
	bottom: 10px;
	left: 125px;
	padding: 2px;
	position: absolute;
}

.ol-scale-line-inner {
	color: #FFFFFF;
	font-size: 10px;
}

/* OL display mouseover coordinates */
.custom-mouse-position {
	bottom: 10px;
	left: 10px;
	position: absolute;
	z-index: 100;
	padding: 3px 8px 4px 8px;
	font-size: 10px;
	border-radius: 0px;
	color: #FFFFFF;
	width: 110px;
	text-align: center;
}

/** OL zoom **/
.ol-zoom {
	right: -3px;
	top: 10px;
	left: auto;
	visibility: hidden;
}

.ol-control button {
	width: 40px;
	font-size: 20px;
	padding: 0 0 4px 0;
	cursor: pointer;
}

.ol-zoom .ol-zoom-in, .ol-zoom .ol-zoom-out {
	visibility: visible;
	border-radius: 0px;
	height: 40px;
}

.ol-scale-line, .ol-control button, .custom-mouse-position, .ol-control button:focus
	{
	background-color: rgba(10, 10, 10, 0.6);
}

.ol-control button:hover {
	background: rgba(118, 185, 0, 1);
}

button:focus {
	outline: none;
}

/*
*
media queries 
*
*/
@media (max-width: 991px) { 
	.navbar-brand-short {
		display: block;
	}
	.navbar-brand-long,
	.mobile-hidden {
		display: none;
	}
	
}
@media ( max-width : 768px) {
	.right-side-menu-open {
		display: block;
		width: 100%;
		right: 0px;
	}
}

@media ( min-width : 768px) {
	.navbar-brand-short {
		display: none;
	}
	.navbar-brand-long {
		display: block;
	}
}

/*Export styles*/

.form-export-container{
	text-align: center;
	margin-bottom: 1rem;
	width: 100%;
	height: auto;
	border: solid rgb(89, 139, 2) 1px;
	background-color: rgba(118, 185, 0, 1);
}


#max-lat{
	margin: auto;
	margin-top: 0.4rem;

}

#min-lat{
	margin: auto;
	margin-bottom: 0.4rem;

}

#max-lon{
	margin: auto;
	float: right;
	margin-right: 0.4rem;
}

#min-lon{
	margin: auto;
	float: left;
	margin-left: 0.4rem;

}


.checkbox-label {
	display: block;
	position: relative;
	padding-left: 35px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;

}

.checkbox-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: rgba(118, 185, 0, 1);
}


/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-label input:checked ~ .checkmark {
	background-color: rgba(118, 185, 0, 1);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-label input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-label .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  /* Export Styles */

  .grid-container{
	margin: 4rem;
	display: grid;
	grid-template-columns: 10% 55% 15% 10% 10%;
	grid-template-rows: 10vh 7vh auto;
	grid-template-areas: 
		"header header header header header"
		"title-name title-description title-date title-state ...."
		"name description date state download";
  }
  #header-export{
	  grid-area: header;
	  margin-bottom: 20px;
  }

  .export-title{
	  text-align: center;
	  font-weight: bold;
  }

  .export-content{
	text-align: center;
}

  .title-name{
	grid-area: title-name;
  }

  .title-description{
	grid-area: title-description;
  }

  .title-date{
	grid-area: title-date;	
  }
  .titlestate{
	grid-area: title-state;	
  }


  .name-container{
	grid-area: name;
  }

  .description-container{
	grid-area: description;
  }

  .date-container{
	grid-area: date;	
  }

  .state-container{
	grid-area: state;	
  }

  .export-download{
	  grid-area: download;
  }

  